body{
    margin: 0;
    padding: 0;
}

.login-box{
display:grid;
}

header{
background-color: grey;
margin: 0;
padding: 20px;
font-size: 25px;
}

.topnav {
background-color: #333;
overflow: hidden;
}
.topnav a {
float: right;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

body{
margin: 0;
padding: 0;
background: #eee;
background-size: cover;
background-position: center;
font-family: sans-serif;
}
header{
margin: 0;
height: 100px;
width: 70px;
}
.loginbox{
width: 320px;
height: 420px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
}

.avatar{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
}

.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
}

.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}
.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
background: #fff;
color: #fff;
font-size: 18px;
border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
cursor: pointer;
background: #ffc107;
color: #000;
}
.loginbox a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;
}

.loginbox a:hover
{
color: #ffc107;
}